@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* Ensure no margins/padding are affecting the layout */
  box-sizing: border-box;
  height: 100%;
}

/* All elements inherit box-sizing */
*, *:before, *:after {
  box-sizing: inherit;
}

/* .container {
  /* flex-direction: row; /* Horizontal layout for sidebar and content */ */
  min-height: 100vh;
  /*overflow: hidden;*/
  /* Remove any potential margin/padding */
  margin: 0;
  padding: 0;
  overflow-y: scroll; /* Make container section scrollable */
  position: relative;
}

.sidebar {
  width: 350px;
  padding: 20px;
/*   background-color: #f4f4f4; */
  background-color: purple;
  position: fixed;
  height: 100vh; /* Change to vh units to match container */
  overflow-y: auto;
  /* Ensure sidebar is flush with viewport */
  left: 0;
  top: 0;
  text-align: center;
}

.content {
/*   margin-left: 325px; /* Space for sidebar */ */
/*   padding-left: 325px; */
/*   margin-right: 100px; */
/*   width: calc(100% - 500px); */
  position: absolute; 
  top: 0; /* Aligns content at the top */
  left: 325px; /* Align content at the left, starting from 400px */
  right: 100px; /* Align content 100px from the right side */
  padding: 0px;
  height: 100vh; /* Full viewport height */
  overflow-y: scroll; /* Make content section scrollable */
  scrollbar-width: none;
  background-color: #FCFCFC;
/*   flex-grow: 1; */
} */

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 330px; /* Fixed width for sidebar */
  padding: 0px;
  position: fixed; /* Fix the sidebar */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allow sidebar to scroll if needed */
  left: 0; /* Align to the left */
  top: 0; /* Align to the top */
  text-align: center;
/*   border-right: 2px solid; */
/*   border-color: #EBD0C4; */
/*   box-shadow: inset 0 -1px 2px rgba(0, 0, 0, 0.1); /* Inner shadow */
  background-color: #fff9f6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23cfe1ff' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
  margin-left: 330px; /* Space for the fixed sidebar */
  padding-left: 75px;
  padding-right: 237.5px;
  padding-top: 15px;
  height: 100vh;
  overflow-y: scroll; /* Make content scrollable */
  scrollbar-width: none; /* Hide scrollbar (optional) */
  background-color: #FFFDFB;
}

.borderbar {
  width: 162.5px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
/*   border-left: 2px solid; */
/*   border-color: #EBD0C4; */
/*   border-image: linear-gradient(to bottom, #F1F4F7, #E4E8EC) 1; /* Gradient border */ */
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #fff9f6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23cfe1ff' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.sidebar h1 a {
  text-decoration: none;
  color: #4C4C4C;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Sidebar horizontal separator */
.sidebarline {
  width: 85%;         /* The bar will span the full width of its container */
  height: 4px;        /* Set the height of the bar */
  background-color: #E4E4E4;  /* Set the color of the bar (e.g., blue) */
  margin-bottom: 0px;
  margin: 0 auto 7px; /* Center horizontally */
}

/* Content Div horizontal separator */
.content-line {
  width: 100%;
  height: 3px;
  background-color: #EDEDED;  
  margin-top: 30px;
  margin-bottom: 30px;
}

.content-line-section {
  width: 100%;         
  height: 5px;        
  background-color: #EDEDED; 
  margin-top: 35px;
  margin-bottom: 35px;
}



/* Navigation Menu Container */

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center; /* Space between image and links */
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: transparent;
}

/* Image Styling */
.image-container img {
    height: 103px; /* Adjust size as needed */
    align-items: right;
}

#nav-image {
    height: 103px; /* Adjust size as needed
    margin-right: 0px; /* Space between image and links */
    transform: rotate(-90deg); /* Rotates image 90 degrees */
}

/* Remove default ul styles */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Align links in a row */
    flex-direction: column;
    align-items: flex-start;
}

/* Navigation Links */
.nav-links li {
    margin-left: 10px; /* Spacing between links */
}

.nav-links a {
    text-decoration: none;
    color: #666666;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}

/* /* ###### TITLE CARD ###### */
.title-card {
  background: #f8f9fa; /* Subtle off-white background */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e4e8ec' fill-opacity='0.9'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: monospace;
  font-size: 1em;
  color: #4C4C4C;
  line-height: 1.6;
  max-width: 800px;
  margin: 40px auto;
}
 */

.content::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Edge, and Safari */
}

.content h1 {
  font-size: 28px;
  color: #0564a3; /* Blue for title */
}

.content h2, .content h3 {
  color: #424242; /* Lighter black for headers */
  font-weight: bold; /* Bold headers */
}

.content h2 {
  font-size: 22px; /* Slightly smaller subheaders */
}

.content h3 {
  font-size: 18px; /* Smaller tertiary headers */
}

pre {
    overflow: visible; 
}

code.language-plaintext {
    background-color: #edf0f2;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-family: monospace;
}

p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p.site-title {
  color: #4C4C4C;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-top: 15px;
}

.subtitle {
  color: #4C4C4C;
  font-size: 1.1em;
  font-weight: 600;
  line-weight: 0.9;
  margin-top: 5px;
  margin-bottom: 30px;
}

p.view {
  font-style: italic;
  color: #A0A0A0;
  margin-left: 10px;
  font-size: 0.85em;
  font-family: 'Roboto', sans-serif;
  white-space: pre;
  display: none;
}

p.personal-flavor-text {
  font-size: 0.9rem;
  line-height: 1.45;
  color: #3C3C3C;
  text-align: left;
  padding-left: 52.5px;
  padding-right: 50px;
  margin-bottom: 40px;
}

p.flavor-secondline {
  margin-top: 10px;
}

/*
/* For inline code */
p code {
    background-color: #edf0f2;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}
*/

/*Color flavor for sidebar text*/
.analyst-text {
  color: #2979FF;
}

.data-scientist {
  color: #874FFF;
}

p .data-scientist {
  margin-bottom: 0em;
}

/* Contact Form */
.contact-form {
    max-width: 500px;
    margin: 20px 0;
    padding: 20px;
    background: #fffaf8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e2dfdb' fill-opacity='0.3'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
  
.contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #0564a3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #007acc;
}

.aboutme-text {
  border-radius: 4px;
}
