<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/styles/base16/rebecca.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon-32x32.png' | relative_url }}">

<!-- MathJax (LaTeX) -->
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- Highlight.js JavaScript -->
<script src="{{ '/assets/js/highlight.min.js' | relative_url }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
  hljs.highlightAll();
  });
</script>
  
</head>
<body>
  <div class="container">
    <!-- Sidebar (Fixed Column) -->
    <div class="sidebar">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <p style="text-align: center;">
      <img src="{{ 'assets/jacob_photo.png' | relative_url }}" width="150" alt="Jacob Dichter">
      </p>
      <nav>
        <ul>
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/articles/" | relative_url }}">Articles</a></li>
          <li><a href="{{ "/assets/JacobDichter_2024Resume.pdf" | relative_url }}">Resume</a></li>
        </ul>
      </nav>
      <p class="personal-flavor-text">Programming expertise (Python, SQL, C#), knowledge of AI and machine learning methods (Neural Networks, Random Forest, PCA, Regression).

Proven ability to transform raw data into actionable insights through the development of dashboards (Power BI), data pipelines (pandas, Azure, SQL Server), and data reporting.</p>
  </div>
</div>
    
    <!-- Main Content (Scrolls Independently) -->
    <div class="content">
      {{ content }}
    </div>
  <!--
    <footer><p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p></footer>
  -->
</body>
</html>
